/* =========================
   COLORS
========================= */
:root {
  --color-background: #f3f5f8; /* 60 → fundo */
  --color-card: #b7c6d4; /* 30 → seções */
  --color-primary: #50667a; /* 10 → destaque */
  --color-input-form: #e6eaf0; /* 10 → destaque */
}

/* =========================
   FONTS
========================= */

@font-face {
  font-family: "Quicksand";
  src: url("../imports/ui/assets/fonts/quicksand/Quicksand-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("../imports/ui/assets/fonts/quicksand/Quicksand-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: url("../imports/ui/assets/fonts/quicksand/Quicksand-Bold.ttf");
  font-weight: 700;
}

/* =========================
   BASE
========================= */

body {
  /* padding: 10px; */
  font-family: "Quicksand" !important;
}

h1 {
  font-weight: 700 !important;
}

a {
  font-weight: 700 !important;
}

/* =========================
   LAYOUT
========================= */

.header {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-icon {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
} 

/* =========================
   NAVEGAÇÃO
========================= */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-right: 5%;
  font-weight: 600;
  cursor: pointer;
}

/* =========================
    PÁGINA DE LOGIN E REGISTER
========================= */
.user-page {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}



.input {
  border: 0;
  background-color: var(--color-input-form);
  padding: 16px;
  border-radius: 32px;
  border: 1px solid #d0d6dc;
}

.button {
  padding: 10px;
  cursor: pointer;
  border-radius: 32px;
  border: 1px solid #d0d6dc;
}
.button:hover {
  background: #3f566b;
}

/* =========================
   dashboard
========================= */
.dashboard-header {
  padding-top: 5%;
}

.dashboard-header-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-table {
  width: fit-content;
  margin: 0 auto;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.dashboard .task-table:last-child {
  border: none !important;
}

.task-table th,
.task-table td {
  width: 150px;
  text-align: center;
  padding-bottom: 30px;
}

.dashboard {
  background-color: var(--color-card);
  border-radius: 20px;
}

/* =========================
   UTILIDADES
========================= */

.text-center {
  text-align: center;
}
